.textfield{
	width:40.0em;

}

.categoryButtons a{
	padding: 0.3em 0.6em;
	margin: 0.2em;
	color: #fff;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
	text-shadow: 0.05em 0.05em 0.1em #000;
	text-decoration: none;
	font-weight: bold;
}

li{
float:left;
height:2.0em;
}

ul{
list-style-type: none;
height: 6.0em;
margin: auto;
}

.red { background-color: #F20C0C; }
.blue {  background-color: #0C0CF2; }
.green {  background-color: #0CF20C; }
.yellow {  background-color: #0CF2F2; }
.black {  background-color: #0c0c0c; }
.gradient {
	background-image: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3));
	background-image: no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.gradient:hover {
	background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2));
	background-image: no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.gradient:active {
	background-image: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0,2)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0));
	background-image: no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.2);
}	
